<div class="container">
<h2>新しいアカウントを作成</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "名前", autocomplete: "name" %>
  </div>
  
  <div class="field">
    <%= f.email_field :email,  placeholder: "メールアドレス", autocomplete: "email" %>
  </div>

  <div class="field">
    <!--<% if @minimum_password_length %>-->
    <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
    <!--<% end %><br />-->
    <%= f.password_field :password, placeholder: "パスワード",autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "パスワード確認", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新しいアカウントを作成" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>