<div class="wrapper">
  <div class="row">
    <ul>
      <li><%= link_to "アカウント",    "/users/account" %></li>
      <li><%= link_to "プロフィール",  "/users/profile" %></li>
    </ul>
  </div>
  <div class="user-view">
    <div class="user-view-box">
      <div class="update-content">
        <h5>プロフィール</h5>
      </div>
      
      <!--resourcesのような標準的なルーティングでない場合、urlの指定が必要-->
      <%= form_with model: @user, local: true, url: users_profile_url do |f| %>
      <div class="form-group">
        <%= image_tag current_user.image.url, class: "icon-image" if current_user.image? %><br>
        <%= f.label :image, "アイコン画像", class: "required" %>
        <%= f.file_field :image,  class: "user-input-data" %><br>
      </div>
        

        <%= f.label :name, "名前", class: "required" %>
        <%= f.text_field :name, class: "user-input-data" %><br>

        <%= f.label :introduction, "自己紹介", class: "required" %>
        <%= f.text_area :introduction, class: "user-input-data" %><br>
      
        <%= f.submit "更新" %>
      
      <% end %>
 

    </div>
  </div>
</div>