<div class="top">
  <div class="top-main">
    <div class="form-frame">
      <h1>Potepan Shareでまだ体験したことのない旅をしよう</h1>
      
        <%= search_form_for @q, url: "/rooms/search" do |f| %>
          <%= f.label :name_field, 'エリア' %><br>
          <%= f.search_field :name_cont, placeholder: "東京" %><br>
          <%= f.submit "探す" %>
        <% end %>
    </div>
  </div>
  
  <div class="recommendation-area">
    <h1>おすすめのエリア</h1>
    <ul>
      <li><%= link_to (image_tag "/assets/img_tokyo.jpeg"),   search_rooms_path(q: {address_cont: "東京"}) %><span>東京</span></li>
      <li><%= link_to (image_tag "/assets/img_osaka.jpeg"),   search_rooms_path(q: {address_cont: "大阪"}) %><span>大阪</span></li>
      <li><%= link_to (image_tag "/assets/img_kyoto.jpeg"),   search_rooms_path(q: {address_cont: "京都"}) %><span>京都</span></li>
      <li><%= link_to (image_tag "/assets/img_sapporo.jpeg"), search_rooms_path(q: {address_cont: "札幌"}) %><span>札幌</span></li>
    </ul>
  </div>
</div>
