<div class="reservations-confirm-content">
  <h4>予約内容確認</h4>
  <h5><%= "¥" + @room.price.to_s %></h5>
    <%= form_with model: @reservation, local: true, url: reservations_path do |f| %>
      <%= f.label :start_day, "開始日" %><br>
      <%= f.date_field :start_day, :readonly => true %><br>

      <%= f.label :end_day, "終了日" %><br>
      <%= f.date_field :end_day, :readonly => true %><br>
      
     <h6><%= "使用日数:　" + @day_used.to_s + "日" %></h6>
      
      <%= f.label :number_of_people, "人数" %><br>
      <%= f.number_field :number_of_people, :readonly => true %><br>
      
      <h6><%= "合計金額：　" + @total_price.to_s %></h6>

      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :room_id, value: @room.id %>

      <p>上記の内容でよろしければ、「予約を確定」を押してください</p>
    
      <%= f.submit "予約を確定" %>
    <% end %>
    
    <%= button_to "ルーム詳細に戻る", "/rooms/#{@reservation.room_id}", method: :get %>


</div>