<div class="reservation-index-container">
  <h4>予約済みルーム一覧</h4>
  <table>
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計料金</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日時</th>
      </tr>
    </thead>
    
    <tbody>
      <% @reservations.each do |reservation| %>
      <tr>
        <% room = Room.find(reservation.room_id) %>
        <% total_price = room.price * (reservation.start_day - reservation.end_day).to_i * reservation.number_of_people %>
  
        <td><%= link_to (image_tag room.image.url), "/rooms/#{room.id}" %></td>
        <td><%= link_to room.name, "/rooms/#{room.id}" %></td>
        <td><%= room.introduction %></td>
        <td><%= "¥" + total_price.to_s %></td>
        <td><%= reservation.start_day %></td>
        <td><%= reservation.end_day %></td>
        <td><%= reservation.updated_at %></td>
  
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
