<div class="room-index-container">
  <h4>登録済みルーム一覧</h4>
  
  <table>
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>
    
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <!--バリデーション追加後、if文削除-->
          <td><%= link_to (image_tag room.image.url), "/rooms/#{room.id}" if room.image? %></td>
          <td>
            <%= link_to room.name, "/rooms/#{room.id}" %></td>
          <td><%= room.introduction %></td>
          <td><%= "¥" + room.price.to_s %></td>
          <td><%= room.updated_at %></td>
  
        </tr>
      <% end %>
    </tbody>
  </table>
</div>