<div class="room-container-show">
  <div class="room-show-left-row">
    <%= image_tag @room.image.url, class: "room-show-image" %><br>
    
    <div class="room-show-detail">
      <%= image_tag current_user.image.url, class: "icon-image room-show-icon-image" %>
      
      <div class="room-show-profile">
        <%= current_user.name %><br>
        <%= current_user.introduction %>
      </div>
    </div>
    <p class="room-show-detail-content"><%= @room.introduction %></p>
  </div>
  
  <div class="room-show-right-row">
    <h5><%= "¥" + @room.price.to_s + "/日" %></h5>
    <div class="room-show-date-select">
      <p>開始日</p>
      <p>終了日</p>
      <p>人数</p>
      <p>予約する</p>
    </div>
  </div>
  
</div>
