<!DOCTYPE html>
<html>
  <head>
    <title>PoteShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left-nav">
        <a href="/">
          <img src="/assets/logo.png" alt="サイトのロゴ画像">
        </a>

        <p>area </p>
        <p>keyword </p>
      </div>
      
      <div class="header-right-nav">
        <% if user_signed_in? %>
          <div class ="name">
            <%= current_user.name %>
          </div>

            <ul>
              <!--<li><%= link_to "ルーム登録", "#" %></li>-->
              <!--<li><%= link_to "予約済みルーム一覧", "#" %></li>-->
              <!--<li><%= link_to "登録済みルーム一覧", "#" %></li>-->
              <li><%= link_to "設定", "/users/account" %></li>
              <li><%= link_to "ログアウト", "/users/sign_out", {method: :delete} %></li>
            </ul>
            
          <%= button_to "ログアウト", "/users/sign_out", {method: :delete} %>
        <% else %>
          <%= button_to "ログイン", "/users/sign_in", {method: :get} %>
          <%= button_to "登録する", "/users/sign_up", {method: :get} %>
        <% end %>
      </div>
      
    </header>
    
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: message_type %>
    <% end %>
    <%= yield %>
    
    <footer>
      <p>©︎ 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
