<!DOCTYPE html>
<html>
  <head>
    <title>PoteShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left-nav">
        <p>title</p>
        <p>area</p>
        <p>keyword</p>
      </div>
      
      <div class="header-right-nav">
        <p>login</p>
        <p>登録する</p>
      </div>

    </header>
    
    <%= yield %>
    
    <footer>
      <p>©︎ 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
